.container-list-item{
    background: #D9D9D9;
    width: 300px;
    border-radius: 15px;
    padding: 20px;
    line-height: 5px;
    font-size: 22px;
    color:#552200;
}

.true{
    text-decoration: line-through;
}

.container-buttons{
    width: 200px;
    margin: 13px 0;
    display: flex;
    justify-content: space-between;
}