.icons-button-icon{
    border-radius: 100%;
    background: linear-gradient(77.04deg, #AC2828 15.12%, #A02C2C 22.65%);
    border: none;
    width: 30px;
    height: 28px;
}
.icons-button-icon:hover{
    background: linear-gradient(77.04deg, #ae4f4f 15.12%, #a05353 22.65%);
}

.icons-button-icon img{
    margin-top: 3px;
}

.icons-button-task{
    border-radius: 15px;
    background: linear-gradient(77.04deg, #AC2828 15.12%, #A02C2C 22.65%);
    border: none;
    width:100px;
    height: 40px;
    color: white;
    font-size: 15px;
}

.icons-button-task:hover{
    background: linear-gradient(77.04deg, #ae4f4f 15.12%, #a05353 22.65%);
}